<div id="footer">
<p class="footer">Copyright &copy; Björn Schießle<br /> 
Verbatim copying and distribution is permitted in any medium, provided this
notice is preserved.<br />
<!--
<br />
<a href="http://www.fsfe.org/freesoftware/freesoftware.html"><img src="http://www.fsfe.org/contribute/advocacy/cwfs/cwfs-1.0.0-white-0-degree-180x57.png"
                                                                  width="180"
                                                                  height="57"
                                                                  border="0"
                                                                  alt="Created
                                                                  with free software"></a>
<br /><br />
-->

<a href="https://fsfe.org/fellowship" class="footer-image"><img
src="/img/join-support.png" alt="Join 
the Fellowship and support Free Software!" /></a>
<br />
<a href="http://validator.w3.org/check?uri=referer" class="button"><img
src="/img/xhtmlvalid.png" alt="Valid XHTML 1.0 Strict" /></a> 
<a href="http://jigsaw.w3.org/css-validator/check/referer" class="button"><img
src="/img/cssvalid.png" alt="Valid CSS!" /></a>
<!--<a href="http://english-199849283892.spampoison.com"><img src="http://pics5.inxhost.com/images/sticker.gif" border="0" width="80" height="15"/></a>-->
<br />Optimized for <a href="http://www.w3.org">web standards</a> 
</p>
</div>
