<div id="footer">
<p class="footer">Copyright &copy; Björn Schießle<br /> 
This work is licensed under a
<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/deed.en">Creative Commons Attribution-Share Alike 3.0 Germany License</a>.
<br />
<a href="https://fsfe.org/fellowship" class="footer-image"><img src="/img/join-support.png" alt="Join the Fellowship and support Free Software!" /></a>
<br />
<a href="http://validator.w3.org/check?uri=referer" class="button"><img
src="http://www.schiessle.org/img/xhtmlvalid.png" alt="Valid XHTML 1.0 Strict" /></a> 
<a href="http://jigsaw.w3.org/css-validator/check/referer" class="button"><img
src="http://www.schiessle.org/img/cssvalid.png" alt="Valid CSS!" /></a>
<!--<a href="http://english-199849283892.spampoison.com"><img src="http://pics5.inxhost.com/images/sticker.gif" border="0" width="80" height="15"/></a>-->
<br />Optimized for <a href="http://www.w3.org">web standards</a> 
</p>
</div>
