/*
 * html.class or html#id see: http://www.tizag.com/cssT/cssid.php
 */

@import url("menu.css");

/* Free Software Free Society aehnliche Schrift ("typewriter")*/
@font-face {
  font-family: 'Essays 1743';
  src: url('fonts/essays1743-webfont.eot');
  src: local('Essays 1743'), url('fonts/essays1743-webfont.woff') format('woff'), url('fonts/essays1743-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Essays 1743';
  src: url('fonts/essays1743-italic-webfont.eot');
  src: local('Essays 1743'), url('fonts/essays1743-italic-webfont.woff') format('woff'), url('fonts/essays1743-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}


body {
    padding: 0px;
    margin: 0px;
    font-family: "DejaVu Sans", "Bitstream Vera Sans", Geneva, Verdana, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    /*min-width: 700px;*/
}

#page { 
    margin: 0px;
    background-color: #fff;
 }

p.fsfs {
    font-family: 'Essays 1743';
    color: red;
    font-size:5em;
    font-weight: normal;
    text-shadow: 0 0 1px #667;
    text-align: right;
}

#content {
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
} 

p.hidden {
  visibility: hidden;
  display: none;
}

.headline {
    /*font-family: 'Essays 1743';*/
    font-size: 3.5em;
}

a.sn-button img {
    width: 32px;
    vertical-align: middle;
}

a.button {
	color: #118DA6;
	text-decoration: none;
	padding-bottom: 0px;
/*	border-bottom: 2px solid #fff;*/
}

a:visited.button {
	padding-bottom: 0px;
	color: #118DA6;
	text-decoration: none;
}
a:hover.button {
	padding-bottom: 0px;
	border-bottom: none;
}


.alignRight {
    text-align: right;
}

a {
	color: #118DA6;
	text-decoration: none;
}
a:visited {
	color: #118DA6;
	text-decoration: none;
}
a:hover {
	padding-bottom: 0px;
	border-bottom: 1px dotted #118DA6;
}



p.center {
  text-align: center;
}

p.right {
  text-align: right;
}

p.badge {
  text-align: center;
}


img.floatLeft { 
    float: left; 
    margin: 4px; 
}

img.floatRight { 
    float: right; 
    margin: 4px; 
}

#floatRight { 
    float: right; 
    margin: 4px; 
}

img.photo { 
    display: block;
    width: 80px;
    margin-left: auto;
    margin-right: auto;

/*    float: left; 
    margin: 4px; */
}

script.floatRight { 
    float: right; 
    margin: 4px; 
}

p.quote {
  padding-left: 30%;
  font-size: 0.9em;
  text-align: right;
}

.note {
  font-size: 0.9em;
  margin: 10px 10px 0 10px;
  padding: 4px 4px 0 4px;
}


img {
  border: 0px;
}

#portrait {
float: left;
height: 260px;
margin-right: 15px;
border-radius: 5px;
}

h1 {
  color: #639829;
  text-align: left;
  font-size: 1.8em;
  font-weight: bold;
  padding: 4px;
}

h2 {
  text-align: left;
  font-size: 1.4em;
  font-weight: bold;
  padding: 4px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
}

ul,ol {
  margin-left: 20px;
}

.flex-list {
    position: relative;
    margin: 1em;
    overflow: hidden;
}
.flex-list ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
}
.flex-list li {
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    background-color: #fff;
}

p { 
  margin: 10px;
  padding: 4px;
}

pre {
  background-color: #f8f8f8;
  color: black;
  border: 1px solid #e0e0e0;
  margin: 1em 1em 1em 1em;
  padding: 0.2em;
  white-space: pre;
  overflow: auto;
}

blockquote {
  background: #EEE;
  color: black;
  margin: 1em 1em 1em 3em;
  padding: 10px 10px 10px 10px;
  border-left: 1em solid #ddd;
}
/*
blockquote.quote{padding:0 0 0 15px;margin:0 0 20px;border-left:5px solid #eeeeee;}
blockquote.quote p{margin-bottom:0;font-size:1em;font-weight:300;line-height:25px;font-size:1em;font-weight:300;line-height:25px;}

blockquote .origin {
    text-indent:-1em;
    margin-left:5em;
    font-style:italic;
    font-size:1em;
}
*/
.clear { clear: both; }

/* -------------------------------------------------------------------------
 * Footer
 * ------------------------------------------------------------------------- */

#footer {
    clear: both;
    background-color: #639829;
    color: #fff !important;
    text-align: center;
    margin: 0px;
    padding-top: 1px;
}


p.footer {
  background: url('img/cwfs-1.0.0-white-25-degree-180x121.png') bottom right no-repeat;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 0px;
  margin-top: 5px;
  text-align: center;
}

#footer a:link {
  color: white;
}

#footer a:visited {
  background-color: #639829;
  color: white;
}

#footer a:hover { 
  border-bottom: 2px solid #fff;
 }

#footer a.footer-image:hover {
  border-bottom: 0px solid #fff;
}

#footer a:hover.button {
	padding-bottom: 2px;
	border-bottom: none;
}

#footer .footer-image img{
    padding-top: 10px;
    padding-bottom: 10px;
}

p.license {
  text-align: right;
}


/* -------------------------------------------------------------------------
 * post it box for actual announcements
 * ------------------------------------------------------------------------- */

.postit {
  float:		right;
  margin:		1em 1em 1em 1em;
  padding:		0.3em;
  padding-right:	1em;
  border:		1px #000 solid;
  background:		#ffecbf;
  max-width:		40%;
  font-size: 0.9em;
}

.postit ul, .postit ol {
  margin-left: 0px;
}

/* -------------------------------------------------------------------------
 * Sprechblasen
 * ------------------------------------------------------------------------- */

/* Normal Bubble */
div.bubble {
    float: right;
    width: auto;
    max-width:60%;
    font-size: 0.75em;
    margin-bottom: 24px;
}

div.bubble blockquote {
    width: auto;
    margin: 0px;
    padding: 0px;
    border: 1px solid #c9c2c1;
    background-color: #fff;
}

div.bubble blockquote p {
    margin: 10px;
    padding: 0px;
}

div.bubble cite {
    position: relative;
    margin: 0px;
    padding: 7px 0px 0px 15px;
    top: 6px;
    background: transparent url(pics/tip.png) no-repeat 20px 0;
    font-style: normal;
}

/* -------------------------------------------------------------------------
 * main page (2 Spalten Layout)
 * ------------------------------------------------------------------------- */

#left_column {
    width: 50%;
    float:left;
}

#right_column {
    margin-left:50%;
}

#aboutme {
    margin-top: 2em;
    font-size: 14px;
}

ul.contact {
    margin: 1em 0 0em 1em;
    list-style-type: none;
    padding: 0 1em;
}

ul.contact li {
    padding-right: 0%;
    margin-bottom: .1em;
}

#feeds .headline{
    font-size: 1.5em;
    text-align:center;
}


#feeds .headline a {
	color: black;
	text-decoration: none;
}

#feeds .headline a:visited {
	color: black;
	text-decoration: none;
}
#feeds .headline a:hover {
	padding-bottom: 0px;
	border-bottom: 1px dotted #118DA6;
}

#feeds a:hover.button {
	padding-bottom: 0px;
	border-bottom: none;
}


ul.contact li {
    /*width: 47%;*/
    padding-right: 3%;
    /*float: left;*/
    margin-bottom: .1em;
}

#feeds ul {
    margin: 1em 0;
    list-style-type: none;
    padding: 0 1em;
}

#feeds li {
    margin-bottom: 0.8em;
}

#feeds  .description {
color: grey;

}


/* -------------------------------------------------------------------------
 * Subpages menu (2 Spalten Layout)
 * ------------------------------------------------------------------------- */

ul.columns {
    margin: 1em 0 2em 2em;
    list-style-type: none;
    padding: 0 1em;
}

ul.columns li {
    width: 47%;
    padding-right: 3%;
    float: left;
    margin-bottom: .1em;
}

/* just for transition between column and full-width view */
.n {
  clear: both;
}

/* Eingabe Felder/Button */

input,
textarea,
select {
    padding:4px;background:white;
    border:1px solid #515151;
    font-size:.9em;
    line-height:1em;
}

input,
label {
    height:auto !important;
    height:2em;
    width:auto;
    padding:4px;
}

.fnlink {
    font-size:.8em;
    vertical-align:top;
    line-height:.9em;
}


.footnotes {
    border-top: 1px solid #CCC; 
    font-size:.8em;
    margin:2em 5em;
}


/* tumbnails */

.thumbnail{
position: relative;
z-index: 0;
}

.thumbnail:hover{
background-color: transparent;
z-index: 50;
}

.thumbnail span{ /*CSS for enlarged image*/
position: absolute;
background-color: lightyellow;
padding: 5px;
left: -1000px;
border: 1px dashed gray;
visibility: hidden;
color: black;
text-decoration: none;
}

.thumbnail span img{ /*CSS for enlarged image */
border-width: 0;
height: 250px;
padding: 2px;
}

.thumbnail:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
top: 1.5em;
left: -200px; /*position where enlarged image should offset horizontally */
}

.more {
    text-align: right;
    padding-right: 40px;
    padding-bottom: 20px;
}

.clear {
    clear: both;
}

/*Responsive Styles*/

@media screen and (max-width : 760px){

    #left_column {
        width: 100%;
    }

    #right_column {
        margin-left:0;
    }
    
    p.footer {
        background: #639829;
    }

    p.footer .footer-image {
        display: none;
    }

    #aboutme {
	text-align: center;
    }

    #portrait {
	margin-top: 30px;
	margin-bottom: 30px;
	float: initial;
        width: 260px;
	height: 260px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
    }
    
}
