<div id="schiessle-org-header">
<label for="show-menu" class="show-menu"><img src="/img/menu.png" alt="Menu"/></label>
<input type="checkbox" id="show-menu" />
<ul id="schiessle-org-navigation">
  <li><a href="https://www.schiessle.org" class="url" rel="me">Home</a></li>
  <li><a href="https://www.schiessle.org/about" class="url" rel="me">About Me</a></li>
  <li><a href="https://blog.schiessle.org" class="url" rel="me">Weblog</a></li>
  <li><a href="https://io.schiessle.org/bes" class="url" rel="me">&#956;-Blog</a></li>
  <li><a href="https://www.schiessle.org/publications" >Publications</a></li>
  <li><a href="https://www.schiessle.org/talks">Talks</a></li>
</ul>
</div>
