#schiessle-org-header {
    display: block;
    top: 0;
    left: 0;
    z-index: 98;
    background-color: #639829;
    height: 53px;
    text-align: right;
    border-bottom: 1px solid #fff;
    width: 100%;
}

ul#schiessle-org-navigation {
    list-style-type:none;
    margin:0;
    padding:0;
    line-height: 53px;
}

#schiessle-org-navigation li {
    display:inline-block;
    /*float: right;*/ /* sonst umgekehrte Reihenfolge */

}

#schiessle-org-navigation li a {
    display:block;
    background-color: #639829;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    min-width:100px;
    width: 100%;
    text-align: center;
    line-height: 53px;
    color: white;
    text-decoration: none;
    border-bottom: 0px;
}

#schiessle-org-navigation li:hover a {
    background-color: #518A12;
}

#schiessle-org-navigation li ul {
    display: none;
}

#schiessle-org-navigation ul i a:hover + .hidden, .hidden:hover {
    display: block;
}

.show-menu {
    font-family: "DejaVu Sans","Bitstream Vera Sans",Geneva,Verdana,sans-serif;
    font-size: 14px;
    text-decoration: none;
    background-color: #639829;
    text-align: right;
    padding: 10px 0;
    padding-right: 20px;
    display: none;
}

input#show-menu {
    display: none;
}

.show-menu img {
    cursor: pointer;
}

input[type=checkbox]:checked ~ #schiessle-org-navigation{
    display: block;
}

@media screen and (max-width : 760px){

    ul#schiessle-org-navigation {
        display: none;
        padding-top: 0px;
    }

    schiessle-org-navigation#ul,
    #schiessle-org-navigation li,
    #schiessle-org-navigartion li a {
        width: 100%;
    }

    .show-menu {
	display:block;
    }

    #schiessle-org-navigation a:hover {
        border-bottom: none;
        background-color: #518A12;
    }

    #schiessle-org-navigation li a {
        position: relative;
    }

}
