<div id ="blockcontainer">
    <div id="blockportrait">
	<img src="/img/bjoern.jpg" id="portrait" class="u-photo" alt="portrait"/>
    </div>
    <div id ="blockname">
	<span class="headline p-name">Björn Schießle</span><br/>
    </div>
</div>
Computer Scientist (Dipl. Inf.), graduated at <a href="http://www.uni-stuttgart.de" title="University of Stuttgart, Germany">University of Stuttgart</a><br/>
Active in the <a href="http://www.fsfe.org/about/basics/freesoftware">Free Software</a> movement for over 20 years<br />
Free Software (aka Open Source) educator and advisor<br/>
Creating free, decentralized and open cloud technology at <a href="https://nextcloud.com">Nextcloud</a><br />
 <a href="http://www.fsfe.org" title="Free Software Foundation Europe">FSFE</a>'s Deputy Coordinator <a href="https://fsfe.org/de/">Germany</a> and member of the General Assembly<br/>
<br />
