#sf {
    font-family: arial,helvetica; 
    font-variant: normal; 
    font-style: normal;
    padding-top: 10px;
    padding-bottom: 10px;

}

#sfb {
    font-family: arial,helvetica; 
    font-weight: bold; 
    font-variant: normal; 
    font-style: normal;
}

.augustinus li {
    padding-left: 10px;
}

.translation {
    padding-top: 10px;
    padding-bottom: 10px;
}