h1.slides {
    text-align: center;
}

.slides-container {
  position: relative;
  height: 450px;
  overflow: hidden;
}
 
/* 16x9 Aspect Ratio
.slides-container-16x9 {
  padding-bottom: 56.25%;
}
*/

/* 4x3 Aspect Ratio */
.slides-container-4x3 {
  padding-bottom: 75%;
}
 
.slides-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 600px;
}

.slides-box {
    float: left;
    width: 350px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 1px dotted #639829;
}


@media screen and (max-width : 760px){

    .slides-box {
	float: none;
	width: auto;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
    }

    .slides-box img {
	max-width: 100%;
	height: auto;
	width: auto;
    }

}
