h1 {
  margin-top: 50px;
}

.inner-content {
    margin: 10px;
    padding: 4px;
}

p {
  margin: 0 0 10px 0;
  padding: 0 0 4px 0;
}

.company {
    font-weight: bold;
    float: left;
}

.period {
    float:right;
}

.role {
    font-style: italic;
}

.description {
    width: 70%;
}

#content ul {
    margin: 0px;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}
}

#content li {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 70%
}

.affiliation-img {
    height: 50px;
    padding: 10px 25px;
}

#affiliation a:hover {
    border-bottom: none;
}